<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.Join.mapper.JoinMapper">

<sql id="JoinColumns">
		  id
		, pw
		, pwHint
		, email
		, nickname
		, age
		, gender
		, userType
		, mangerYn
		, regDate
	</sql>

	<insert id="insertJoin" parameterType="JoinDTO">
		INSERT INTO member (
			<include refid="JoinColumns" />
		) VALUES (
			  #{id}
			, #{pw}
			, #{pwConfirm}
			, #{email}
			, id + userType
			, #{age}
			, #{gender}
			, #{userType}
			, False
			, NOW()
		)
	</insert>

</mapper>
